//상단 영역
#header {
    .h_top {
        display: flex; justify-content: center;
        background-color: #e2bdff;
        .center {
            width: 73%; align-items: center;
            display: flex; justify-content: space-between;
            padding: 15px 0;
            .gnb {
                display: flex; justify-content: space-between;
                li {
                    line-height: 50px; margin: 0 20px;
                    position: relative;
                    // margin-left: 50px;
                    a {
                        color: #000; font-weight: 500; z-index: 2;
                        position: relative;
                    }
                    &::before {
                        content: ""; display: inline-block;
                        z-index: 1;
                        position: absolute; left: 50%; bottom: 13px;
                        transform: translateX(-50%);
                        width: 100%; height: 15px;
                        background-color: #d181e9;
                        opacity: 0;
                        transition: all 0.5s;
                    }
                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
            .mobile_btn {display: none;}
        }
    }
}
//중간 영역
#container {
    //메인페이지 intro 영역
    .intro {
        display: flex; justify-content: center;
        margin: 50px 0 100px;
        .center {
            width: 73%; display: flex;
            //intro의 첫번째 slide 영역
            .slide_wrap {
                width: 48%; margin-right: 4%;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                .view {
                    display: flex; width: 300%;
                    transition: all 0.5s;
                    .slide_box {
                        width: 100%; border-radius: 10px;
                        padding-bottom: 65px;
                        position: relative;
                        &:nth-child(1){background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);}
                        &:nth-child(2){background-image: linear-gradient(135deg, #feb7b9 0%, #d399ff 100%);}
                        &:nth-child(3){background-image: linear-gradient(135deg, #fd9fdc 0%, #b4acfa 100%);}
                        //슬라이드 뒷배경 일러스트
                        .bg_img {
                            position: absolute; right: 0; top: 87px;
                            img {width: 450px; height: 300px;}
                        }
                        //슬라이드 상단 텍스트박스
                        .text_box {
                            padding-left: 40px;
                            .hash {
                                padding: 75px 0 58px;
                            }
                            .slide_title {
                                padding-bottom: 35px;
                                line-height: 40px;
                            }
                            .text {
                                padding-bottom: 140px;
                                line-height: 25px;
                            }
                        }
                        //슬라이드 하단 상품박스
                        .prd_box_wrap {
                            display: flex;
                            .prd_box {
                                width: 31.333333%; margin: 0 1%;
                                border-radius: 10px;
                                position: relative;
                                background-color: #fff;
                                > a {
                                    color: #000; display: block;
                                    padding-left: 30px;
                                    .prd_title {
                                        margin: 30px 0 15px;
                                    }
                                    .text {
                                        margin-bottom: 35px;
                                    }
                                    .icon {
                                        font-size: 40px;
                                        margin-bottom: 20px;
                                        position: relative;
                                        .cm_ani {
                                            width: 70px; height: 70px;
                                            animation: common_ani 0.8s linear 0s infinite alternate;
                                            @keyframes common_ani {
                                                0% {transform: scale(1.0);}
                                                100% {transform: scale(1.1);}
                                            }
                                        }
                                        //첫번째 슬라이드 아이콘
                                        .laptop {animation-duration: 1s;}
                                        .whatsapp {
                                            width: 30px; height: 30px;
                                            position: absolute; left: 82px; top: -13px;
                                            animation: b_ani 0.8s linear 0s infinite alternate;
                                            @keyframes b_ani {
                                                0% {transform: rotate(0deg);}
                                                100% {transform: rotate(25deg);}
                                            }
                                        }
                                        .coin1 {
                                            position: absolute; left: -13px; top: -19px;
                                            width: 25px; height: 25px;
                                            // animation: name duration timing-function delay iteration-count direction fill-mode;
                                            animation: coin_ani1 0.8s linear 0s infinite;
                                            @keyframes coin_ani1 {
                                                0% {top: 0;}
                                                50% {top: -5px;}
                                                70% {top: -19px;}
                                                100% {top: -5px;}
                                            }
                                        }
                                        .coin2 {
                                            position: absolute; right: 82px; top: 10px;
                                            width: 25px; height: 25px;
                                            animation: coin_ani2 0.8s linear 1s infinite;
                                            @keyframes coin_ani2 {
                                                0% {top: 10px;}
                                                40% {top: 0px;}
                                                70% {top: -15px;}
                                                100% {top: 10px;}
                                            }
                                        }
                                        .mp {animation-duration: 0.7s;}
                                        .allow {
                                            width: 30px; height: 30px;
                                            position: absolute; left: 68px; top: 50%;
                                            transform: translateY(-50%);
                                            animation: allow_ani 0.8s linear 0s infinite alternate;
                                            @keyframes allow_ani {
                                                0% {left: 68px;}
                                                100% {left: 82px;}
                                            }
                                        }
                                        //두번째 슬라이드 아이콘
                                        .research {
                                            width: 45px; height: 45px;
                                            transform: rotate(-3deg);
                                            transform-origin: 100% 0;
                                            position: absolute; left: 33px; top: -18px;
                                            animation: search_ani 1s linear 0s infinite alternate;
                                            @keyframes search_ani {
                                                0% {
                                                    transform: rotate(-3deg);
                                                    opacity: 1;
                                                }
                                                100% {
                                                    transform: rotate(20deg);
                                                    opacity: 0;
                                                }
                                            }
                                        }
                                    }
                                    .tag {
                                        position: absolute;
                                        right: 20px; bottom: 0;
                                        padding: 10px;
                                        background-color: red;
                                    }
                                }
                            }
                        }
                    }
                }
                //슬라이드 버튼
                .slide_btn_set {
                    display: flex;
                    position: absolute;
                    left: 25px; bottom: 15px;
                    > div {margin-right: 15px;}
                }
            }
            //intro의 두번째 영역
            .intro2_wrap {
                width: 22%; margin-right: 4%;
                //intro영역의 탭메뉴 영역
                .tab_wrap {
                    margin-bottom: 45px;
                    .tab_menu {
                        display: flex; background-color: #f1dfff;
                        border-radius: 10px 10px 0 0;
                        li {
                            width: 50%; text-align: center;
                            padding: 20px 0;
                            border-bottom: 2px solid #d094ff;
                        }
                        li.on {
                            border: 2px solid #d094ff;
                            border-bottom: none;
                            border-radius: 10px 10px 0 0;
                            background-color: #fff;
                        }
                    }
                    .tab_list_wrap {
                        display: flex; position: relative;
                        .list {
                            position: absolute; left: 0; top: 0;
                            display: flex; flex-wrap: wrap;
                            text-align: center; width: 100%;
                            border: 2px solid #d094ff;
                            border-top: none;
                            border-radius: 0 0 10px 10px;
                            box-sizing: border-box;
                            z-index: 2; opacity: 0;
                            transition: all 0.3s;
                            padding-bottom: 85px;
                            .tab_list {
                                width: 50%;
                                a {
                                    i {padding: 25px 0 10px; font-size: 40px;}
                                    .name {padding-bottom: 25px;}
                                }
                            }
                        }
                        .list.on {
                            z-index: 3; opacity: 1;
                        }
                    }
                }
                //intro영역의 이용안내 영역
                .info_wrap {
                    margin-top: 357px;
                    padding: 0 20px 20px;
                    border: 2px solid #d094ff;
                    border-radius: 10px;
                    .info_title {
                        padding: 32px 0 15px;
                    }
                    .text {padding-bottom: 35px;}
                    .info_box_wrap {
                        .line {
                            display: flex;
                            margin-bottom: 10px;
                            .info_box {
                                background-color: tomato;
                                padding: 15px 10px;
                                border-radius: 5px;
                                a {display: block; width: 100%; height: 100%;}
                                &:first-child {margin-right: 10px;}
                            }
                            .ib1,.ib6 {width: 65%;}
                            .ib2,.ib5 {width: 35%;}
                            .ib3,.ib4 {width: 50%;}
                        }
                    }
                }
            }
            //intro의 세번째 영역
            .intro3_wrap {
                width: 22%;
                //intro영역의 로그인 / 로그아웃 영역
                .user_wrap {
                    display: flex;
                    background-color: rgb(255, 241, 241);
                    padding: 30px 45px;
                    border: 2px solid red;
                    border-radius: 10px;
                    .login,.join,.user_data,.logout {
                        margin: 0 auto; text-align: center;
                        a {
                            color: #000;
                            i {
                                display: block; margin-bottom: 8px;
                                font-size: 20px;
                            }
                            span {font-weight: 500;}
                        }
                    }
                }
                //intro영역의 공지사항 영역
                .notice_wrap {
                    margin-top: 40px;
                    // border: 2px solid red;
                    // border-radius: 10px;
                    padding-left: 20px;
                    .notice_title {
                        padding: 30px 0;
                    }
                    .notice_list_wrap {
                        .notice_list {
                            margin-bottom: 30px;
                            .title {
                                margin-bottom: 15px;
                                position: relative;
                            }
                        }
                    }
                }
                //intro영역의 고객센터 영역
                .service_wrap {
                    margin-top: 70px;
                    padding-left: 20px;
                    .service {
                        margin-bottom: 20px;
                        .title {margin-bottom: 5px;}
                        // .date {}
                    }
                    .tell {
                        .number {margin-bottom: 5px;}
                        // .foreign {}
                    }
                }
            }
        }
    }
    //상품페이지 영역(card_area)
    .card_area {
        display: flex; justify-content: center;
        .center {
            background-color: #ffeef9;
            width: 100%;
            .title_box {
                text-align: center;
                padding: 40px 0;
                .card_title {font-size: 15px; padding-bottom: 15px; color: #7369d1;}
                .card_sub_title {font-size: 25px;}
            }
            .card_banner {
                width: 100%; height: 300px;
                position: relative;
                background-image: url(/img/card_banner.jpg);
                display: flex; justify-content: center;
                align-items: center;
                .banner_center {
                    width: 63%;
                    .text_box {
                        .small_text {
                            font-size: 15px; padding-bottom: 26px;
                            font-weight: 500;
                        }
                        .big_text {
                            font-size: 35px; padding-bottom: 45px;
                            font-weight: 600;
                        }
                        .more {
                            display: inline-block;
                            padding: 12px 30px;
                            border: 1px solid #fff;
                            color: #fff;
                        }
                    }
                }
            }
            .prd_list_wrap {
                width: 63%; margin: 0 auto;
                .cw {
                    width: 100%; position: relative;
                    overflow: hidden; margin-bottom: 50px;
                    .title {text-align: center; padding: 40px 0; font-size: 22px;}
                    .view {
                        width: 200%; display: flex;
                        transition: all 0.5s;
                        padding-bottom: 60px;
                        border-bottom: 2px solid #ddd;
                        .prd_list {
                            width: 31.333%; margin: 0 2%;
                            position: relative;
                            img {width: 300px; height: 200px;}
                            .card_name {
                                padding-top: 15px; font-size: 17px;
                                font-weight: 500;
                            }
                            .hover_box {
                                position: absolute; left: -2px; bottom: -5px;
                                background-color: #b4acfa; width: 100%;
                                border-radius: 10px; padding: 20px;
                                // overflow: hidden; text-overflow: ellipsis;
                                // white-space: nowrap;
                                box-sizing: border-box;
                                transform: translateY(-20px);
                                opacity: 0; transition: all 0.5s;
                                .box_top {
                                    border-bottom: 2px solid red;
                                    > p {
                                        padding-bottom: 10px;
                                        &:last-child {padding-bottom: 20px;}
                                    } 
                                }
                                .link_box {
                                    display: flex; justify-content: center;
                                    margin-top: 20px;
                                    > a {
                                        display: block; padding: 10px 15px;
                                        margin: 0 8px; background-color: skyblue;
                                    }
                                }
                            }
                            &:hover {
                                .hover_box {opacity: 1; transform: translateY(0px);}
                            }
                        }
                    }
                    .card_btn_set {
                        > div {
                            position: absolute; top: 51%;
                            transform: translateY(-50%);
                            font-size: 30px;
                            a {color: #bbb;}
                        }
                        .prev_btn {left: 0;}
                        .next_btn {right: 0;}
                    }
                }
            }
        }
    }
    //카드 상세페이지 영역(card_detail)
    .card_detail {
        display: flex; justify-content: center;
        .center {
            width: 63%;
            display: flex;
            background-color: skyblue;
            .card_detail_wrap {
                width: 80%;
                .title_box {
                    text-align: center;
                    .card_name {
                        padding: 54px 0 18px;
                        font-size: 32px;
                    }
                    .card_category {
                        font-size: 15px; padding-bottom: 30px;
                        color: #ddd;
                    }
                }
                .card_box {
                    width: 90%; margin: 0 auto;
                    background-color: #dbdbdb;
                    border-radius: 10px;
                    .wrap {
                        display: flex; align-items: center;
                        justify-content: center;
                        padding: 150px 0 80px;
                        border-bottom: 1px solid red;
                        .left {
                            position: relative;
                            .circle {
                                position: absolute; left: 0; top: 50%;
                                transform: translateY(-50%);
                                width: 330px; height: 330px;
                                border-radius: 50%;
                                background-color: #c4c4c4;
                                margin-left: -15px;
                            }
                            img {
                                transform: rotate(90deg);
                            }
                        }
                        .right {
                            padding-left: 10%;
                            > p {
                                font-size: 16px;
                                padding-bottom: 26px;
                            }
                        }
                    }
                    .admin_btn_set {
                        margin-left: 45px;
                        display: flex;
                        > a {
                            margin-right: 15px;
                            display: block;
                            padding: 10px 20px;
                            background-color: #7369d1;
                            border-radius: 5px;
                            color: #fff;
                        }
                    }
                    .box_bot {
                        display: flex; align-items: center;
                        line-height: 75px; padding-left: 48px;
                        .brand {
                            display: flex; align-items: center;
                            > p {
                                &:nth-child(1) {margin-right: 19px; font-size: 13px;}
                                &:nth-child(2) {margin-right: 25px; font-size: 15px; font-weight: 500;}
                            }
                            img {
                                width: 100px; height: 45px;
                            }
                        }
                        .price {
                            display: flex;
                            > p {
                                &:nth-child(1) {margin: 0 25px 0 115px; font-size: 13px;}
                                &:nth-child(2) {margin-right: 25px; font-size: 15px; font-weight: 500;}
                            }
                        }
                    }
                }
                .card_notice {
                    width: 90%; margin: 60px auto 0;
                    border-radius: 20px;
                    .title {
                        font-size: 23px; padding-bottom: 21px;
                    }
                    .card_notice_box {
                        border: 2px solid red;
                        border-radius: 20px;
                        padding: 50px 45px;
                        .sub_title {
                            font-size: 16px; font-weight: 500;
                            padding-bottom: 26px;
                        }
                        .text {
                            font-size: 15px; line-height: 25px; padding-bottom: 30px;
                            text-indent: 11px;
                        }
                    }
                } 
            }
            .right_box {
                position: sticky; top: 0;
                width: 16%; margin: 148px 1% 0;
                background-color: orange;
                border: 1px solid red;
                height: 310px;
                border-radius: 10px;
                //첫번째 박스
                .box1 {
                    display: flex; align-items: center;
                    padding: 0 20px; justify-content: space-between;
                    border-bottom: 1px solid red;
                    p {
                        padding: 30px 0; font-size: 15px;
                    }
                    .icon {
                        width: 20px; height: 20px;
                        border-radius: 50%;
                        background-color: #7369d1;
                        text-align: center;
                        i {font-size: 12px;}
                    }
                }
                //두번째 박스
                .box2 {
                    padding: 0 20px;
                    border-bottom: 1px solid red;
                    > p {padding: 20px 0 15px; font-size: 15px;}
                    .wrap {
                        display: flex; justify-content: space-between;
                        p {
                            padding-bottom: 22px; font-size: 13px;
                        }
                        .icon {
                            width: 20px; height: 20px;
                            border-radius: 50%;
                            background-color: #7369d1;
                            text-align: center;
                            position: relative; bottom: 4px;
                            i {font-size: 12px;}
                        }
                    }
                }
                //세번째 박스
                .box3 {
                    .top {
                        display: flex; justify-content: center;
                        text-align: center;
                        padding: 17px 0 25px;
                        .icon_box {
                            margin: 0 5px;
                            i {
                                margin-bottom: 5px;
                                font-size: 20px;
                            }
                            p {
                                font-size: 15px;
                                span {
                                    color: red;
                                }
                            }
                        }
                    }
                    .go_card {
                        display: flex; justify-content: center;
                        > a {
                            display: inline-block; text-align: center;
                            padding: 12px 20px; background-color: red;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
    //매장 목록페이지 영역(store_list)
    .store_list {
        .title {
            text-align: center; padding: 125px 0 48px;
            font-size: 22px;
        }
        //매장 배너
        .store_banner {
            width: 100%; height: 410px;
            background-image: url(/img/test.jpg);
            position: relative;
            .bg {
                position: absolute; left: 0; top: 0;
                width: 100%; height: 100%;
                background-color: rgba(65, 21, 116, 0.2);
            }
            .text_box_top {
                position: relative; top: 50%;
                transform: translateY(-50%);
                p {
                    text-align: center;
                    &:nth-child(1) {
                        font-size: 38px; padding-bottom: 27px;
                        color: #fff; font-weight: 600;
                        position: relative;
                        &::before {
                            position: absolute; left: 50%; top: -40px;
                            transform: translateX(-50%);
                            content: ""; display: block;
                            width: 5%; height: 2px;
                            background-color: #fff;
                        }
                    }
                    &:nth-child(2) {
                        font-size: 18px; color: #fff;
                        font-weight: 500;
                    }
                }
            }
        }
        //매장 하단
        .center {
            width: 63%; margin: 0 auto;
            background-color: #d6d2ff;
            .text_box_bot {
                text-align: center;
                .list_title {
                    padding: 160px 0 30px; font-size: 32px;
                    position: relative;
                    &::before {
                        position: absolute; left: 50%; top: 125px;
                        transform: translateX(-50%);
                        content: ""; display: block;
                        width: 4%; height: 2px;
                        background-color: #000;
                    }
                }
                .text {
                    font-size: 17px; line-height: 23px;
                    padding-bottom: 70px; color: #7f7f7f;
                }
            }
            //매장 목록
            .store_list_wrap {
                display: flex; padding-bottom: 230px;
                flex-wrap: wrap;
                .list_box {
                    width: 29.333%; margin: 0 2% 4%;
                    padding: 10px; box-sizing: border-box;
                    background-color: #e6e6e6;
                    border-radius: 10px;
                    .store_file {
                        width: 100%; height: 230px;
                    }
                    .store_name {
                        padding: 20px 0; font-size: 18px;
                        font-weight: 500;
                    }
                    .store_info {
                        p {
                            font-size: 15px; padding-bottom: 8px;
                            color: #6d6d6d;
                        }
                    }
                    .go_map {
                        display: inline-block; color: #000;
                        padding: 8px 12px; background-color: #d094ff;
                        border-radius: 5px; margin: 22px 0 10px;
                        font-size: 15px;
                    }
                }
            }
            .go_store {
                display: block; color: #000;
                margin-bottom: 120px; text-align: center;
                padding: 20px; background-color: #7369d1;
            }
        }
    }
}
//회원가입 페이지 영역
#join {
    #join_form {
        .input_wrap {
            position: relative;
            padding-bottom: 50px;
            background-color: skyblue;
            .msg_box {
                position: absolute; left: 0; top: 25px;
            }
        }
    }
} 

//도움창
.help {
    position: absolute; right: 3%; top: 50%;
    transform: translateY(-50%);
    border: 2px solid #000;
    text-align: center;
    border-radius: 10px;
    > div {
        padding: 20px;
        i {margin-bottom: 10px;}
    }
    .ai {
        border-bottom: 2px solid #000;
    }
}