@media screen and (max-width:580px) {
    //중간영역
    #container {
        //메인페이지 intro 영역
        .intro {
            .center {
                //intro의 첫번째 slide 영역
                .slide_wrap {
                    .view {
                        .slide_box {
                            //슬라이드 뒷배경 일러스트
                            .bg_img {display: none;}
                            //슬라이드 하단 상품박스
                            .prd_box_wrap {
                                flex-direction: column;
                                .prd_box {
                                    width: 80%; margin: 0 auto;
                                    margin-bottom: 20px;
                                    > a {
                                        .tag {
                                            right: 20px;
                                            padding: 10px 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                //intro의 두번째 영역
                .intro2_wrap {
                    flex-direction: column;
                    //intro영역의 탭메뉴 영역
                    .tab_wrap {
                        width: 100%;
                    }
                    //intro영역의 이용안내 영역
                    .info_wrap {
                        width: 90%; margin: 0 auto; margin-top: 370px;
                        .text {font-size: 17px; line-height: 25px;}
                        .info_box_wrap {
                            .line {
                                .info_box {padding: 20px 10px;}
                            }
                        }
                    }
                }
                //intro의 세번째 영역
                .intro3_wrap {
                    flex-direction: column;
                    //intro영역의 공지사항 영역
                    .main_notice_wrap {margin: 0 100px 30px 0;}
                }
            }
        }
        //상품페이지 영역(card_area)
        .card_area {
            .center {
                .prd_list_wrap {
                    .cw {
                        .view {
                            .prd_list {
                                .hover_box {
                                    .link_box {
                                        flex-direction: column;
                                        > a {
                                            text-align: center;
                                            &:nth-child(1) {margin-bottom: 10px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        //카드 상세페이지 영역(card_detail)
        .card_detail {
            .center {
                flex-direction: column;
                .card_detail_wrap {
                    width: 100%;
                    .card_box {
                        .box_bot {
                            flex-direction: column; line-height: 40px;
                            margin: 30px 0; padding-left: 30px;
                            .brand {margin-right: 50px;}
                            .price {
                                display: flex;
                                > p {
                                    &:nth-child(1) {margin: 0 20px 0 0;}
                                }
                            }
                        }
                    }
                    .card_notice {
                        .card_notice_box {margin-bottom: 60px;}
                    }
                }
                .right_box {
                    width: 90%; margin: 0 auto 50px;
                    border: 2px solid #d6d6d6;
                    height: 280px;
                    //첫번째 박스
                    .box1 {
                        border-bottom: 2px solid #d6d6d6;
                        p {font-size: 18px;}
                    }
                    //두번째 박스
                    .box2 {
                        border-bottom: 2px solid #d6d6d6;
                        > p {font-size: 18px;}
                        .wrap {
                            p {padding-bottom: 22px; font-size: 15px;}
                            .icon {bottom: 2px;}
                        }
                    }
                    //세번째 박스
                    .box3 {
                        display: flex; justify-content: space-between;
                        align-items: center; padding: 0 20px;
                        .top {
                            padding: 30px 0 25px;
                            .icon_box {
                                margin: 0 5px;
                                i {margin-bottom: 10px; font-size: 23px;}
                            }
                        }
                    }
                }
            }
        }
        //매장 목록페이지 영역(store_list)
        .store_list {
            //매장 하단
            .center {
                width: 90%;
                .store_list_wrap {
                    .list_box {width: 96%;}
                }

            }
        }
        //공지사항 목록페이지(notice_wrap)
        .notice_wrap {
            width: 90%;
            .right {
                .center {
                    .notice_list_wrap {
                        .notice_list {
                            .notice_title {white-space: pre; overflow: hidden; text-overflow: ellipsis;}
                        }
                    }
                    .go_notice {width: 100%; line-height: 43px;}
                }
            }
        }
        //문의게시판 목록페이지(qna_list_wrap)
        .qna_list_wrap {
            .center {
                .user_qna_wrap {
                    .qna_link {width: 30%;}
                }
            }
        }
        //문의게시판 유저작성페이지(qna_area)
        .qna_area {
            .center {width: 83%;}
        }
    }
    //하단영역
    #footer {
        .f_top {
            .center {width: 95%;}
        }
        .f_bot {
            .center {
                width: 95%;
                .left {
                    .f_menu {
                        li {font-size: 13px;}
                    }
                }
            }
        }
    }
    //로그인 페이지
    #login {
        .center {
            //로그인 영역
            .login_wrap {
                .right {
                    #login_form {
                        .wrap {
                            flex-direction: column;
                            input {width: 100%;}
                        }
                    }
                }
            }
        }
    }
}