<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자용 공지사항 등록 페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <form id="admin_notice_form" action="/add/notice" method="post">
        <!-- 공지사항 제목 -->
        <label for="notice_title">공지사항 제목</label>
        <input type="text" class="notice_title" name="notice_title">
        <!-- 공지사항 내용 -->
        <label for="notice_context">공지사항 내용</label>
        <input type="text" class="notice_context" name="notice_context">

        <button class="notice_btn" type="submit">공지사항 등록</button>
    </form>
    <div class="notice_list_wrap">
        <%# for(let i=0; i<ntiData.length; i++){ %>
            <div class="notice_list">
                <p class="no"><%#- ntiData[index].notice_no %></p>
                <p class="title"><%#- ntiData[index].notice_title %></p>
                <p class="author_id"><%#- ntiData[index].notice_author_id %></p>
                <p class="author"><%#- ntiData[index].notice_author %></p>
                <p class="context"><%#- ntiData[index].notice_context %></p>
                <p class="date"><%#- ntiData[index].notice_date %></p>
            </div>
        <%# } %>
    </div>
</body>
</html>