<!-- 관리자가 아니면 들어올 수 없음 -->
<%# if(!userData || userData == null || !userData == "admin"){ %>
    <!-- <script>
        alert("관리자만 이용할 수 있는 페이지입니다.");
        location.href = "/";
    </script> -->
<%# } %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자용 놀이기구 등록 페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <form id="ride_form" action="/add/ride" method="post" enctype="multipart/form-data">
        <!-- admin 외 다른 사람이 글 삭제 / 수정 못하게 하기 위한 태그 -->
        <input type="hidden" name="write_id" class="write_id" value="<%- userData.join_id %>">
        <!-- 분류 -->
        <select name="ride_floor" id="ride_floor">
            <option value="어드벤처 1층">1층</option>
            <option value="어드벤처 2층">2층</option>
            <option value="어드벤처 3층">3층</option>
            <option value="어드벤처 4층">4층</option>
        </select>
        <!-- 놀이기구 이미지 -->
        <label for="ride_img">놀이기구 이미지</label>
        <input type="file" name="ride_img" class="ride_img">
        <!-- 놀이기구 이름 -->
        <label for="ride_name">놀이기구 이름</label>
        <input type="ride_name" name="ride_name" class="ride_name">
        <!-- 놀이기구 탑승인원 -->
        <label for="ride_people">놀이기구 탑승인원</label>
        <input type="text" name="ride_people" class="ride_people">

        <button class="ride_btn">등록</button>
    </form>
</body>
</html>