<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <!-- 상단 영역 -->
    <%- include("common/header.ejs") %>
    <!-- 중간 영역 -->
    <div id="container">
        <div class="intro">
            <div class="center">
                <video src="/video/intro_video.mp4" muted></video>
                <div class="grad_bar">
                    <div class="bar b1"></div>
                    <div class="bar b2"></div>
                </div>
            </div>
        </div>
        <div class="cont2"></div>
    </div>
</body>
</html>