<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <!-- 상단 영역 -->
    <%- include("common/header.ejs") %>
    <!-- 중간 영역 -->
    <div id="container">
        <!-- intro 영역 -->
        <div class="intro">
            <div class="center">
                <div class="slide_wrap">
                    <div class="view">
                        <!-- 첫번째 슬라이드 -->
                        <div class="slide_box">
                            <!-- 슬라이드 뒷배경 일러스트 -->
                            <div class="bg_img">
                                <img src="/img/slide_img1.png" alt="">
                            </div>
                            <!-- 슬라이드 상단 텍스트박스 -->
                            <div class="text_box">
                                <p class="hash">#00뱅킹새출발</p>
                                <h2 class="slide_title">
                                    은행 모바일뱅킹<br>
                                    새출발<br>
                                    <span>Coming Soon</span>
                                </h2>
                                <p class="text">
                                    더 나은 더 좋은 은행이<br>
                                    모바일뱅킹으로 나아갑니다.
                                </p>
                            </div>
                            <!-- 슬라이드 하단 상품박스 -->
                            <div class="prd_box_wrap">
                                <div class="prd_box">
                                    <a href="#">
                                        <h3 class="prd_title">개인사업자<br>비대면 계좌개설</h3>
                                        <p class="text">비대면으로<br>간편하게</p>
                                        <div class="icon">
                                            <img class="laptop cm_ani" src="/img/laptop.png" alt="">
                                            <img class="whatsapp" src="/img/whatsapp.png" alt="">
                                        </div>
                                        <div class="tag">신규</div>
                                    </a>
                                </div>
                                <div class="prd_box">
                                    <a href="#">
                                        <h3 class="prd_title">스피드마이너스<br>대출</h3>
                                        <p class="text">저렴한<br>이자비용</p>
                                        <div class="icon">
                                            <img class="money_bag cm_ani" src="/img/money_bag.png" alt="">
                                            <img class="coin1" src="/img/coin.png" alt="">
                                            <img class="coin2" src="/img/coin.png" alt="">
                                        </div>
                                        <div class="tag">대출</div>
                                    </a>
                                </div>
                                <div class="prd_box">
                                    <a href="#">
                                        <h3 class="prd_title">에어머니<br>체크카드</h3>
                                        <p class="text">주요항공사<br>포인트 적립</p>
                                        <div class="icon">
                                            <img class="mp cm_ani" src="/img/mobile_payment.png" alt="">
                                            <img class="allow" src="/img/right_arrow.png" alt="">
                                        </div>
                                        <div class="tag">카드</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- 두번째 슬라이드 -->
                        <div class="slide_box">
                            <!-- 슬라이드 뒷배경 일러스트 -->
                            <div class="bg_img">
                                <img src="/img/slide_img2.png" alt="">
                            </div>
                            <!-- 슬라이드 상단 텍스트박스 -->
                            <div class="text_box">
                                <p class="hash">#00뱅킹새출발</p>
                                <h2 class="slide_title">
                                    은행 모바일뱅킹<br>
                                    새출발<br>
                                    <span>Coming Soon</span>
                                </h2>
                                <p class="text">
                                    더 나은 더 좋은 은행이<br>
                                    모바일뱅킹으로 나아갑니다.
                                </p>
                            </div>
                            <!-- 슬라이드 하단 상품박스 -->
                            <div class="prd_box_wrap">
                                <div class="prd_box">
                                    <a href="#">
                                        <h3 class="prd_title">개인사업자<br>비대면 계좌개설</h3>
                                        <p class="text">비대면으로<br>간편하게</p>
                                        <div class="icon">
                                            <img class="phone cm_ani" src="/img/smartphone.png" alt="">
                                            <img class="research" src="/img/research.png" alt="">
                                        </div>
                                        <div class="tag">신규</div>
                                    </a>
                                </div>
                                <div class="prd_box">
                                    <a href="#">
                                        <h3 class="prd_title">스피드마이너스<br>대출</h3>
                                        <p class="text">저렴한<br>이자비용</p>
                                        <div class="icon"><i class="fa-solid fa-sack-xmark"></i></div>
                                        <div class="tag">대출</div>
                                    </a>
                                </div>
                                <div class="prd_box">
                                    <a href="#">
                                        <h3 class="prd_title">에어머니<br>체크카드</h3>
                                        <p class="text">주요항공사<br>포인트 적립</p>
                                        <div class="icon"><i class="fa-regular fa-credit-card"></i></div>
                                        <div class="tag">카드</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- 세번째 슬라이드 -->
                        <div class="slide_box">
                            <!-- 슬라이드 뒷배경 일러스트 -->
                            <div class="bg_img">
                                <img src="/img/slide_img3.png" alt="">
                            </div>
                            <!-- 슬라이드 상단 텍스트박스 -->
                            <div class="text_box">
                                <p class="hash">#00뱅킹새출발</p>
                                <h2 class="slide_title">
                                    은행 모바일뱅킹<br>
                                    새출발<br>
                                    <span>Coming Soon</span>
                                </h2>
                                <p class="text">
                                    더 나은 더 좋은 은행이<br>
                                    모바일뱅킹으로 나아갑니다.
                                </p>
                            </div>
                            <!-- 슬라이드 하단 상품박스 -->
                            <div class="prd_box_wrap">
                                <div class="prd_box">
                                    <a href="#">
                                        <h3 class="prd_title">개인사업자<br>비대면 계좌개설</h3>
                                        <p class="text">비대면으로<br>간편하게</p>
                                        <div class="icon"><i class="fa-solid fa-money-check"></i></div>
                                        <div class="tag">신규</div>
                                    </a>
                                </div>
                                <div class="prd_box">
                                    <a href="#">
                                        <h3 class="prd_title">스피드마이너스<br>대출</h3>
                                        <p class="text">저렴한<br>이자비용</p>
                                        <div class="icon"><i class="fa-solid fa-sack-xmark"></i></div>
                                        <div class="tag">대출</div>
                                    </a>
                                </div>
                                <div class="prd_box">
                                    <a href="#">
                                        <h3 class="prd_title">에어머니<br>체크카드</h3>
                                        <p class="text">주요항공사<br>포인트 적립</p>
                                        <div class="icon"><i class="fa-regular fa-credit-card"></i></div>
                                        <div class="tag">카드</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="slide_btn_set">
                            <div class="prev_btn"><a href="#"><i class="fa-solid fa-caret-left"></i></a></div>
                            <div class="next_btn"><a href="#"><i class="fa-solid fa-caret-right"></i></a></div>
                            <div class="stop_btn"><a href="#"><i class="fa-solid fa-grip-lines-vertical"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="intro2_wrap">
                    <div class="tab_wrap">
                        <ul class="tab_menu">
                            <li class="on"><a href="#">메뉴1</a></li>
                            <li><a href="#">메뉴2</a></li>
                        </ul>
                        <div class="tab_list_wrap">
                            <!-- 메뉴1 목록 -->
                            <div class="list li1 on">
                                <div class="tab_list">
                                    <a href="#">
                                        <i class="fa-solid fa-caret-left"></i>
                                        <p class="name">상품이름</p>
                                    </a>
                                </div>
                                <div class="tab_list">
                                    <a href="#">
                                        <i class="fa-solid fa-caret-left"></i>
                                        <p class="name">상품이름</p>
                                    </a>
                                </div>
                                <div class="tab_list">
                                    <a href="#">
                                        <i class="fa-solid fa-caret-left"></i>
                                        <p class="name">상품이름</p>
                                    </a>
                                </div>
                            </div>
                            <!-- 메뉴2 목록 -->
                            <div class="list li2">
                                <div class="tab_list">
                                    <a href="#">
                                        <i class="fa-solid fa-caret-left"></i>
                                        <p class="name">상품이름2</p>
                                    </a>
                                </div>
                                <div class="tab_list">
                                    <a href="#">
                                        <i class="fa-solid fa-caret-left"></i>
                                        <p class="name">상품이름2</p>
                                    </a>
                                </div>
                                <div class="tab_list">
                                    <a href="#">
                                        <i class="fa-solid fa-caret-left"></i>
                                        <p class="name">상품이름2</p>
                                    </a>
                                </div>
                                <div class="tab_list">
                                    <a href="#">
                                        <i class="fa-solid fa-caret-left"></i>
                                        <p class="name">상품이름2</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 이용안내 영역 -->
                    <div class="info_wrap">
                        <h2 class="info_title">00뱅크<br><span>00뱅킹 이용안내<a class="more" href="#"><i class="fa-solid fa-angles-right"></i></a></span></h2>
                        <p class="text">기업 인터넷 뱅킹 사용방법이<br>궁금하신가요?</p>
                        <div class="info_box_wrap">
                            <div class="line">
                                <div class="info_box ib1"><a href="#">내용1</a></div>
                                <div class="info_box ib2"><a href="#">내용2</a></div>
                            </div>
                            <div class="line">
                                <div class="info_box ib3"><a href="#">내용3</a></div>
                                <div class="info_box ib4"><a href="#">내용4</a></div>
                            </div>
                            <div class="line">
                                <div class="info_box ib5"><a href="#">내용5</a></div>
                                <div class="info_box ib6"><a href="#">내용6</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro3_wrap">
                    <!-- 로그인 / 회원가입 / 로그아웃 영역 -->
                    <div class="user_wrap">
                        <% if(!userData){ %>
                        <div class="login"><a href="/login"><i class="fa-solid fa-unlock-keyhole"></i><span>로그인</span></a></div>
                        <div class="join"><a href="/join"><i class="fa-solid fa-user-plus"></i><span>회원가입</span></a></div>
                        <% } else { %>
                        <div class="user_data"><a href="#"><i class="fa-solid fa-user"></i><%- userData.join_nickname %></a> 님</div>
                        <div class="logout"><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>로그아웃</a></div>
                        <% } %>
                    </div>
                    <!-- 공지사항 영역 -->
                    <div class="notice_wrap">
                        <h2 class="notice_title">공지사항<a class="more" href="#"><i class="fa-solid fa-angles-right"></i></a></h2>
                        <div class="notice_list_wrap">
                            <div class="notice_list">
                                <h3 class="title"><a href="#">첫번째 공지사항<a class="more" href="#"><i class="fa-solid fa-angles-right"></i></a></a></h3>
                                <p class="data">2022.11.25</p>
                            </div>
                            <div class="notice_list">
                                <h3 class="title"><a href="#">두번째 공지사항<a class="more" href="#"><i class="fa-solid fa-angles-right"></i></a></a></h3>
                                <p class="data">2022.11.25</p>
                            </div>
                            <div class="notice_list">
                                <h3 class="title"><a href="#">세번째 공지사항<a class="more" href="#"><i class="fa-solid fa-angles-right"></i></a></a></h3>
                                <p class="data">2022.11.25</p>
                            </div>
                        </div>
                    </div>
                    <!-- 고객센터 영역 -->
                    <div class="service_wrap">
                        <div class="service">
                            <h2 class="title">고객센터<i class="fa-solid fa-phone-flip"></i></h2>
                            <p class="date">평일9시 ~ 18시(휴무일 제외)</p>
                        </div>
                        <div class="tell">
                            <h2 class="number">8765-4321</h2>
                            <p class="foreign">해외 +00-0-0000-0000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 도움창 -->
    <%- include("common/help.ejs"); %>
    <!-- js -->
    <script src="/js/slide.js"></script>
    <script src="/js/tab_menu.js"></script>
</body>
</html>