<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <div id="join">
        <form id="join_form" action="/add/join" method="post">
            <!-- 아이디 -->
            <label for="id">아이디</label>
            <input type="text" name="id" class="id inputs">
            <div class="msg_box">msg_box<br>msg_box</div>
            <!-- 닉네임 -->
            <label for="nickname">닉네임</label>
            <input type="text" name="nickname" class="nickname inputs">
            <div class="msg_box">msg_box<br>msg_box</div>
            <!-- 비밀번호 -->
            <label for="pass">비밀번호</label>
            <input type="text" name="pass" class="pass inputs">
            <div class="msg_box">msg_box<br>msg_box</div>
            <!-- 비밀번호 재확인 -->
            <label for="repass">비밀번호 재확인</label>
            <input type="text" name="repass" class="repass">
            <div class="re_msg_box">msg_box<br>msg_box</div>
            <!-- 이메일 -->
            <label for="email">이메일</label>
            <input type="text" name="email" class="email inputs">
            <div class="msg_box">msg_box<br>msg_box</div>
            <!-- 전화번호 -->
            <label for="tell">전화번호</label>
            <input type="text" name="tell" class="tell inputs">
            <div class="msg_box">msg_box<br>msg_box</div>

            <button class="join_btn" type="submit">JOIN US</button>
        </form>
    </div>
</body>
</html>