<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의게시판 작성페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <!-- 상단 영역 -->
    <% include("common/header.ejs") %>
    <!-- 중간 영역 -->
    <div id="container">
        <div class="qna_insert_wrap">
            <div class="center">
                <form id="qna_insert_form" action="/add/qna" method="post">
                    <!-- qna 제목 -->
                    <label for="title">qna제목</label>
                    <input type="text" name="title" class="title">
                    <!-- qna 내용 -->
                    <label for="context">qna내용</label>
                    <textarea name="context" class="context"></textarea>

                    <button class="qna_btn" type="submit">질문 등록</button>
                </form>
            </div>
        </div>
    </div>
    <!-- 하단 영역 -->
    <%- include("common/footer.ejs") %>
</body>
</html>