* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

input, select, textarea {
  outline: 0;
}

textarea {
  resize: none;
}

body {
  line-height: 1;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

#header .h_top {
  display: flex;
  justify-content: center;
  background-color: skyblue;
}
#header .h_top .center {
  background-color: palegoldenrod;
  width: 73%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
#header .h_top .center .gnb {
  display: flex;
  justify-content: space-between;
}
#header .h_top .center .gnb li {
  line-height: 50px;
  margin: 0 20px;
  position: relative;
}
#header .h_top .center .gnb li a {
  color: #000;
  font-weight: 500;
  z-index: 2;
  position: relative;
}
#header .h_top .center .gnb li::before {
  content: "";
  display: inline-block;
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  width: 100%;
  height: 15px;
  background-color: rgba(255, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
}
#header .h_top .center .gnb li:hover::before {
  opacity: 1;
}
#header .h_top .center .mobile_btn {
  display: none;
}

#container .intro {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;
}
#container .intro .center {
  width: 73%;
  display: flex;
}
#container .intro .center .slide_wrap {
  width: 48%;
  margin-right: 4%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#container .intro .center .slide_wrap .view {
  display: flex;
  width: 300%;
  transition: all 0.5s;
}
#container .intro .center .slide_wrap .view .slide_box {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 65px;
  position: relative;
}
#container .intro .center .slide_wrap .view .slide_box:nth-child(1) {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
#container .intro .center .slide_wrap .view .slide_box:nth-child(2) {
  background-image: linear-gradient(135deg, #feb7b9 0%, #d399ff 100%);
}
#container .intro .center .slide_wrap .view .slide_box:nth-child(3) {
  background-image: linear-gradient(135deg, #fd9fdc 0%, #b4acfa 100%);
}
#container .intro .center .slide_wrap .view .slide_box .bg_img {
  position: absolute;
  right: 0;
  top: 87px;
}
#container .intro .center .slide_wrap .view .slide_box .bg_img img {
  width: 450px;
  height: 300px;
}
#container .intro .center .slide_wrap .view .slide_box .text_box {
  padding-left: 40px;
}
#container .intro .center .slide_wrap .view .slide_box .text_box .hash {
  padding: 75px 0 58px;
}
#container .intro .center .slide_wrap .view .slide_box .text_box .slide_title {
  padding-bottom: 35px;
  line-height: 40px;
}
#container .intro .center .slide_wrap .view .slide_box .text_box .text {
  padding-bottom: 140px;
  line-height: 25px;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap {
  display: flex;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box {
  width: 31.333333%;
  margin: 0 1%;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a {
  color: #000;
  display: block;
  padding-left: 30px;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .prd_title {
  margin: 30px 0 15px;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .text {
  margin-bottom: 35px;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .cm_ani {
  width: 70px;
  height: 70px;
  -webkit-animation: common_ani 0.8s linear 0s infinite alternate;
          animation: common_ani 0.8s linear 0s infinite alternate;
}
@-webkit-keyframes common_ani {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes common_ani {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .laptop {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .whatsapp {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 82px;
  top: -13px;
  -webkit-animation: b_ani 0.8s linear 0s infinite alternate;
          animation: b_ani 0.8s linear 0s infinite alternate;
}
@-webkit-keyframes b_ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
@keyframes b_ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .coin1 {
  position: absolute;
  left: -13px;
  top: -19px;
  width: 25px;
  height: 25px;
  -webkit-animation: coin_ani1 0.8s linear 0s infinite;
          animation: coin_ani1 0.8s linear 0s infinite;
}
@-webkit-keyframes coin_ani1 {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  70% {
    top: -19px;
  }
  100% {
    top: -5px;
  }
}
@keyframes coin_ani1 {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  70% {
    top: -19px;
  }
  100% {
    top: -5px;
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .coin2 {
  position: absolute;
  right: 82px;
  top: 10px;
  width: 25px;
  height: 25px;
  -webkit-animation: coin_ani2 0.8s linear 1s infinite;
          animation: coin_ani2 0.8s linear 1s infinite;
}
@-webkit-keyframes coin_ani2 {
  0% {
    top: 10px;
  }
  40% {
    top: 0px;
  }
  70% {
    top: -15px;
  }
  100% {
    top: 10px;
  }
}
@keyframes coin_ani2 {
  0% {
    top: 10px;
  }
  40% {
    top: 0px;
  }
  70% {
    top: -15px;
  }
  100% {
    top: 10px;
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .mp {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .allow {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 68px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-animation: allow_ani 0.8s linear 0s infinite alternate;
          animation: allow_ani 0.8s linear 0s infinite alternate;
}
@-webkit-keyframes allow_ani {
  0% {
    left: 68px;
  }
  100% {
    left: 82px;
  }
}
@keyframes allow_ani {
  0% {
    left: 68px;
  }
  100% {
    left: 82px;
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .research {
  width: 45px;
  height: 45px;
  transform: rotate(-3deg);
  transform-origin: 100% 0;
  position: absolute;
  left: 33px;
  top: -18px;
  -webkit-animation: search_ani 1s linear 0s infinite alternate;
          animation: search_ani 1s linear 0s infinite alternate;
}
@-webkit-keyframes search_ani {
  0% {
    transform: rotate(-3deg);
    opacity: 1;
  }
  100% {
    transform: rotate(20deg);
    opacity: 0;
  }
}
@keyframes search_ani {
  0% {
    transform: rotate(-3deg);
    opacity: 1;
  }
  100% {
    transform: rotate(20deg);
    opacity: 0;
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .tag {
  position: absolute;
  right: 20px;
  bottom: 0;
  padding: 10px;
  background-color: red;
}
#container .intro .center .slide_wrap .slide_btn_set {
  display: flex;
  position: absolute;
  left: 25px;
  bottom: 15px;
}
#container .intro .center .slide_wrap .slide_btn_set > div {
  margin-right: 15px;
}
#container .intro .center .intro2_wrap {
  width: 22%;
  margin-right: 4%;
}
#container .intro .center .intro2_wrap .tab_wrap {
  margin-bottom: 45px;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_menu {
  display: flex;
  background-color: antiquewhite;
  border-radius: 10px 10px 0 0;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_menu li {
  width: 50%;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid red;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_menu li.on {
  border: 2px solid red;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap {
  display: flex;
  position: relative;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  border: 2px solid red;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s;
  padding-bottom: 85px;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list .tab_list {
  width: 50%;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list .tab_list a i {
  padding: 25px 0 10px;
  font-size: 40px;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list .tab_list a .name {
  padding-bottom: 25px;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list.on {
  z-index: 3;
  opacity: 1;
  background-color: rgb(226, 226, 226);
}
#container .intro .center .intro2_wrap .info_wrap {
  margin-top: 357px;
  padding: 0 20px 20px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: orange;
}
#container .intro .center .intro2_wrap .info_wrap .info_title {
  padding: 32px 0 15px;
}
#container .intro .center .intro2_wrap .info_wrap .text {
  padding-bottom: 35px;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line {
  display: flex;
  margin-bottom: 10px;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .info_box {
  background-color: tomato;
  padding: 15px 10px;
  border-radius: 5px;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .info_box a {
  display: block;
  width: 100%;
  height: 100%;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .info_box:first-child {
  margin-right: 10px;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib1, #container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib6 {
  width: 65%;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib2, #container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib5 {
  width: 35%;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib3, #container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib4 {
  width: 50%;
}
#container .intro .center .intro3_wrap {
  width: 22%;
}
#container .intro .center .intro3_wrap .user_wrap {
  display: flex;
  background-color: rgb(255, 241, 241);
  padding: 30px 45px;
  border: 2px solid red;
  border-radius: 10px;
}
#container .intro .center .intro3_wrap .user_wrap .login, #container .intro .center .intro3_wrap .user_wrap .join, #container .intro .center .intro3_wrap .user_wrap .user_data, #container .intro .center .intro3_wrap .user_wrap .logout {
  margin: 0 auto;
  text-align: center;
}
#container .intro .center .intro3_wrap .user_wrap .login a, #container .intro .center .intro3_wrap .user_wrap .join a, #container .intro .center .intro3_wrap .user_wrap .user_data a, #container .intro .center .intro3_wrap .user_wrap .logout a {
  color: #000;
}
#container .intro .center .intro3_wrap .user_wrap .login a i, #container .intro .center .intro3_wrap .user_wrap .join a i, #container .intro .center .intro3_wrap .user_wrap .user_data a i, #container .intro .center .intro3_wrap .user_wrap .logout a i {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
}
#container .intro .center .intro3_wrap .user_wrap .login a span, #container .intro .center .intro3_wrap .user_wrap .join a span, #container .intro .center .intro3_wrap .user_wrap .user_data a span, #container .intro .center .intro3_wrap .user_wrap .logout a span {
  font-weight: 500;
}
#container .intro .center .intro3_wrap .notice_wrap {
  margin-top: 40px;
  padding-left: 20px;
}
#container .intro .center .intro3_wrap .notice_wrap .notice_title {
  padding: 30px 0;
}
#container .intro .center .intro3_wrap .notice_wrap .notice_list_wrap .notice_list {
  margin-bottom: 30px;
}
#container .intro .center .intro3_wrap .notice_wrap .notice_list_wrap .notice_list .title {
  margin-bottom: 15px;
  position: relative;
}
#container .intro .center .intro3_wrap .service_wrap {
  margin-top: 70px;
  padding-left: 20px;
}
#container .intro .center .intro3_wrap .service_wrap .service {
  margin-bottom: 20px;
}
#container .intro .center .intro3_wrap .service_wrap .service .title {
  margin-bottom: 5px;
}
#container .intro .center .intro3_wrap .service_wrap .tell .number {
  margin-bottom: 5px;
}
#container .card_area {
  display: flex;
  justify-content: center;
}
#container .card_area .center {
  background-color: #ffeef9;
  width: 100%;
}
#container .card_area .center .title_box {
  text-align: center;
  padding: 40px 0;
}
#container .card_area .center .title_box .card_title {
  font-size: 15px;
  padding-bottom: 15px;
  color: #7369d1;
}
#container .card_area .center .title_box .card_sub_title {
  font-size: 25px;
}
#container .card_area .center .card_banner {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url(/img/card_banner.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .card_area .center .card_banner .banner_center {
  width: 63%;
}
#container .card_area .center .card_banner .banner_center .text_box .small_text {
  font-size: 15px;
  padding-bottom: 26px;
  font-weight: 500;
}
#container .card_area .center .card_banner .banner_center .text_box .big_text {
  font-size: 35px;
  padding-bottom: 45px;
  font-weight: 600;
}
#container .card_area .center .card_banner .banner_center .text_box .more {
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid #fff;
  color: #fff;
}
#container .card_area .center .prd_list_wrap {
  width: 63%;
  margin: 0 auto;
}
#container .card_area .center .prd_list_wrap .cw {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
#container .card_area .center .prd_list_wrap .cw .title {
  text-align: center;
  padding: 40px 0;
  font-size: 22px;
}
#container .card_area .center .prd_list_wrap .cw .view {
  width: 200%;
  display: flex;
  transition: all 0.5s;
  padding-bottom: 60px;
  border-bottom: 2px solid #ddd;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list {
  width: 31.333%;
  margin: 0 2%;
  position: relative;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list img {
  width: 300px;
  height: 200px;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .card_name {
  padding-top: 15px;
  font-size: 17px;
  font-weight: 500;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box {
  position: absolute;
  left: -2px;
  bottom: -5px;
  background-color: #b4acfa;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.5s;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box .box_top {
  border-bottom: 2px solid red;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box .box_top > p {
  padding-bottom: 10px;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box .box_top > p:last-child {
  padding-bottom: 20px;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box .link_box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box .link_box > a {
  display: block;
  padding: 10px 15px;
  margin: 0 8px;
  background-color: skyblue;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list:hover .hover_box {
  opacity: 1;
  transform: translateY(0px);
}
#container .card_area .center .prd_list_wrap .cw .card_btn_set > div {
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  font-size: 30px;
}
#container .card_area .center .prd_list_wrap .cw .card_btn_set > div a {
  color: #bbb;
}
#container .card_area .center .prd_list_wrap .cw .card_btn_set .prev_btn {
  left: 0;
}
#container .card_area .center .prd_list_wrap .cw .card_btn_set .next_btn {
  right: 0;
}
#container .card_detail {
  display: flex;
  justify-content: center;
}
#container .card_detail .center {
  width: 63%;
  display: flex;
  background-color: skyblue;
}
#container .card_detail .center .card_detail_wrap {
  width: 80%;
}
#container .card_detail .center .card_detail_wrap .title_box {
  text-align: center;
}
#container .card_detail .center .card_detail_wrap .title_box .card_name {
  padding: 54px 0 18px;
  font-size: 32px;
}
#container .card_detail .center .card_detail_wrap .title_box .card_category {
  font-size: 15px;
  padding-bottom: 30px;
  color: #ddd;
}
#container .card_detail .center .card_detail_wrap .card_box {
  width: 90%;
  margin: 0 auto;
  background-color: #dbdbdb;
  border-radius: 10px;
}
#container .card_detail .center .card_detail_wrap .card_box .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0 80px;
  border-bottom: 1px solid red;
}
#container .card_detail .center .card_detail_wrap .card_box .wrap .left {
  position: relative;
}
#container .card_detail .center .card_detail_wrap .card_box .wrap .left .circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin-left: -15px;
}
#container .card_detail .center .card_detail_wrap .card_box .wrap .left img {
  transform: rotate(90deg);
}
#container .card_detail .center .card_detail_wrap .card_box .wrap .right {
  padding-left: 10%;
}
#container .card_detail .center .card_detail_wrap .card_box .wrap .right > p {
  font-size: 16px;
  padding-bottom: 26px;
}
#container .card_detail .center .card_detail_wrap .card_box .admin_btn_set {
  margin-left: 45px;
  display: flex;
}
#container .card_detail .center .card_detail_wrap .card_box .admin_btn_set > a {
  margin-right: 15px;
  display: block;
  padding: 10px 20px;
  background-color: #7369d1;
  border-radius: 5px;
  color: #fff;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot {
  display: flex;
  align-items: center;
  line-height: 75px;
  padding-left: 48px;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .brand {
  display: flex;
  align-items: center;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .brand > p:nth-child(1) {
  margin-right: 19px;
  font-size: 13px;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .brand > p:nth-child(2) {
  margin-right: 25px;
  font-size: 15px;
  font-weight: 500;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .brand img {
  width: 100px;
  height: 45px;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .price {
  display: flex;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .price > p:nth-child(1) {
  margin: 0 25px 0 115px;
  font-size: 13px;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .price > p:nth-child(2) {
  margin-right: 25px;
  font-size: 15px;
  font-weight: 500;
}
#container .card_detail .center .card_detail_wrap .card_notice {
  width: 90%;
  margin: 60px auto 0;
  border-radius: 20px;
}
#container .card_detail .center .card_detail_wrap .card_notice .title {
  font-size: 23px;
  padding-bottom: 21px;
}
#container .card_detail .center .card_detail_wrap .card_notice .card_notice_box {
  border: 2px solid red;
  border-radius: 20px;
  padding: 50px 45px;
}
#container .card_detail .center .card_detail_wrap .card_notice .card_notice_box .sub_title {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 26px;
}
#container .card_detail .center .card_detail_wrap .card_notice .card_notice_box .text {
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 30px;
  text-indent: 11px;
}
#container .card_detail .center .right_box {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 16%;
  margin: 148px 1% 0;
  background-color: orange;
  border: 1px solid red;
  height: 310px;
  border-radius: 10px;
}
#container .card_detail .center .right_box .box1 {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  border-bottom: 1px solid red;
}
#container .card_detail .center .right_box .box1 p {
  padding: 30px 0;
  font-size: 15px;
}
#container .card_detail .center .right_box .box1 .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7369d1;
  text-align: center;
}
#container .card_detail .center .right_box .box1 .icon i {
  font-size: 12px;
}
#container .card_detail .center .right_box .box2 {
  padding: 0 20px;
  border-bottom: 1px solid red;
}
#container .card_detail .center .right_box .box2 > p {
  padding: 20px 0 15px;
  font-size: 15px;
}
#container .card_detail .center .right_box .box2 .wrap {
  display: flex;
  justify-content: space-between;
}
#container .card_detail .center .right_box .box2 .wrap p {
  padding-bottom: 22px;
  font-size: 13px;
}
#container .card_detail .center .right_box .box2 .wrap .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7369d1;
  text-align: center;
  position: relative;
  bottom: 4px;
}
#container .card_detail .center .right_box .box2 .wrap .icon i {
  font-size: 12px;
}
#container .card_detail .center .right_box .box3 .top {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 17px 0 25px;
}
#container .card_detail .center .right_box .box3 .top .icon_box {
  margin: 0 5px;
}
#container .card_detail .center .right_box .box3 .top .icon_box i {
  margin-bottom: 5px;
  font-size: 20px;
}
#container .card_detail .center .right_box .box3 .top .icon_box p {
  font-size: 15px;
}
#container .card_detail .center .right_box .box3 .top .icon_box p span {
  color: red;
}
#container .card_detail .center .right_box .box3 .go_card {
  display: flex;
  justify-content: center;
}
#container .card_detail .center .right_box .box3 .go_card > a {
  display: inline-block;
  text-align: center;
  padding: 12px 20px;
  background-color: red;
  border-radius: 5px;
}

#join #join_form .input_wrap {
  position: relative;
  padding-bottom: 50px;
  background-color: skyblue;
}
#join #join_form .input_wrap .msg_box {
  position: absolute;
  left: 0;
  top: 25px;
}

.help {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #000;
  text-align: center;
  border-radius: 10px;
}
.help > div {
  padding: 20px;
}
.help > div i {
  margin-bottom: 10px;
}
.help .ai {
  border-bottom: 2px solid #000;
}