* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

input, select, textarea {
  outline: 0;
}

textarea {
  resize: none;
}

body {
  line-height: 1;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

#header .h_top {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c2c2c2;
}
#header .h_top .center {
  width: 73%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
#header .h_top .center .gnb {
  display: flex;
  justify-content: space-between;
}
#header .h_top .center .gnb li {
  line-height: 50px;
  margin: 0 20px;
  position: relative;
}
#header .h_top .center .gnb li a {
  color: #000;
  font-weight: 500;
  z-index: 2;
  position: relative;
}
#header .h_top .center .gnb li::before {
  content: "";
  display: inline-block;
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  width: 100%;
  height: 8px;
  background-color: #e5cdf7;
  opacity: 0;
  transition: all 0.5s;
}
#header .h_top .center .gnb li:hover::before {
  opacity: 1;
}
#header .h_top .center .user_wrap {
  display: flex;
}
#header .h_top .center .user_wrap > div a {
  color: #000;
}
#header .h_top .center .user_wrap > div a i {
  margin-right: 5px;
}
#header .h_top .center .user_wrap .login, #header .h_top .center .user_wrap .user_data {
  margin-right: 17px;
}
#header .h_top .center .mobile_btn {
  display: none;
}

#container .intro {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;
}
#container .intro .center {
  width: 73%;
  display: flex;
}
#container .intro .center .slide_wrap {
  width: 48%;
  margin-right: 4%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#container .intro .center .slide_wrap .view {
  display: flex;
  width: 300%;
  transition: all 0.5s;
}
#container .intro .center .slide_wrap .view .slide_box {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 65px;
  position: relative;
}
#container .intro .center .slide_wrap .view .slide_box:nth-child(1) {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
#container .intro .center .slide_wrap .view .slide_box:nth-child(2) {
  background-image: linear-gradient(135deg, #feb7b9 0%, #d399ff 100%);
}
#container .intro .center .slide_wrap .view .slide_box:nth-child(3) {
  background-image: linear-gradient(135deg, #fd9fdc 0%, #b4acfa 100%);
}
#container .intro .center .slide_wrap .view .slide_box .bg_img {
  position: absolute;
  right: 0;
  top: 109px;
}
#container .intro .center .slide_wrap .view .slide_box .bg_img img {
  width: 400px;
  height: 270px;
}
#container .intro .center .slide_wrap .view .slide_box .text_box {
  padding-left: 40px;
}
#container .intro .center .slide_wrap .view .slide_box .text_box .hash {
  padding: 75px 0 58px;
  font-size: 14px;
  color: #b819bd;
}
#container .intro .center .slide_wrap .view .slide_box .text_box .slide_title {
  padding-bottom: 35px;
  line-height: 45px;
  font-weight: normal;
  font-size: 35px;
}
#container .intro .center .slide_wrap .view .slide_box .text_box .slide_title span {
  font-weight: 600;
}
#container .intro .center .slide_wrap .view .slide_box .text_box .text {
  padding-bottom: 140px;
  line-height: 25px;
  color: #818181;
  font-size: 14px;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap {
  display: flex;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box {
  width: 31.333333%;
  margin: 0 1%;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a {
  color: #000;
  display: block;
  padding-left: 30px;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .prd_title {
  margin: 30px 0 15px;
  font-size: 17px;
  line-height: 23px;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .text {
  margin-bottom: 35px;
  line-height: 20px;
  font-size: 14px;
  color: #aaa9ae;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .cm_ani {
  width: 70px;
  height: 70px;
  animation: common_ani 0.8s linear 0s infinite alternate;
}
@keyframes common_ani {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .laptop {
  animation-duration: 1s;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .whatsapp {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 82px;
  top: -13px;
  animation: b_ani 0.8s linear 0s infinite alternate;
}
@keyframes b_ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .coin1 {
  position: absolute;
  left: -13px;
  top: -19px;
  width: 25px;
  height: 25px;
  animation: coin_ani1 0.8s cubic-bezier(0.4, 0, 1, 1) 0s infinite;
}
@keyframes coin_ani1 {
  0% {
    top: -19px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -19px;
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .coin2 {
  position: absolute;
  left: 70px;
  top: 10px;
  width: 25px;
  height: 25px;
  animation: coin_ani2 0.8s linear 1s infinite;
}
@keyframes coin_ani2 {
  0% {
    top: 10px;
  }
  40% {
    top: 0px;
  }
  70% {
    top: -15px;
  }
  100% {
    top: 10px;
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .mp {
  animation-duration: 0.7s;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .allow {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 68px;
  top: 50%;
  transform: translateY(-50%);
  animation: allow_ani 0.8s linear 0s infinite alternate;
}
@keyframes allow_ani {
  0% {
    left: 68px;
  }
  100% {
    left: 82px;
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .research {
  width: 45px;
  height: 45px;
  transform: rotate(-3deg);
  transform-origin: 100% 0;
  position: absolute;
  left: 33px;
  top: -18px;
  animation: search_ani 1s linear 0s infinite alternate;
}
@keyframes search_ani {
  0% {
    transform: rotate(-3deg);
    opacity: 1;
  }
  100% {
    transform: rotate(20deg);
    opacity: 0;
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .file {
  animation-duration: 1.2s;
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .sign {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 43px;
  top: -13px;
  animation: sign_ani 0.5s linear 0s infinite alternate;
}
@keyframes sign_ani {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .icon .license {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 46px;
  top: 8px;
  animation: li_ani 1.3s linear 0s infinite alternate;
}
@keyframes li_ani {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
#container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .tag {
  position: absolute;
  right: 20px;
  bottom: 0;
  padding: 10px;
  background-color: #d7a5ff;
  color: #fff;
  border-radius: 5px 5px 0 0;
}
#container .intro .center .slide_wrap .slide_btn_set {
  display: flex;
  position: absolute;
  left: 25px;
  bottom: 15px;
}
#container .intro .center .slide_wrap .slide_btn_set > div {
  margin-right: 15px;
}
#container .intro .center .slide_wrap .slide_btn_set > div a {
  color: #5e085e;
}
#container .intro .center .slide_wrap .slide_btn_set > div a i {
  font-size: 17px;
}
#container .intro .center .intro2_wrap {
  width: 22%;
  margin-right: 4%;
}
#container .intro .center .intro2_wrap .tab_wrap {
  margin-bottom: 45px;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_menu {
  display: flex;
  background-color: #f8f8f8;
  border-radius: 10px 10px 0 0;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_menu li {
  width: 50%;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #c2c2c2;
  font-weight: 500;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_menu li a {
  color: #676661;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_menu li.on {
  border: 2px solid #c2c2c2;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_menu li.on a {
  color: #000;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap {
  display: flex;
  position: relative;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  border: 2px solid #c2c2c2;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s;
  padding-bottom: 30px;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list .tab_list {
  width: 50%;
  padding: 30px 0;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list .tab_list a .tab_img {
  width: 60px;
  height: 60px;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list .tab_list a .name {
  padding-top: 15px;
  color: #3b3b3b;
  font-weight: 500;
  font-size: 15px;
}
#container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list.on {
  z-index: 3;
  opacity: 1;
}
#container .intro .center .intro2_wrap .info_wrap {
  margin-top: 385px;
  padding: 0 20px 20px;
  border: 2px solid #c2c2c2;
  border-radius: 10px;
}
#container .intro .center .intro2_wrap .info_wrap .info_title {
  padding: 32px 0 15px;
  font-size: 20px;
  line-height: 35px;
  font-weight: normal;
}
#container .intro .center .intro2_wrap .info_wrap .info_title span, #container .intro .center .intro2_wrap .info_wrap .info_title i {
  font-weight: 600;
}
#container .intro .center .intro2_wrap .info_wrap .info_title a {
  margin-left: 5px;
  color: #000;
}
#container .intro .center .intro2_wrap .info_wrap .info_title a i {
  font-size: 15px;
  position: relative;
  bottom: 2px;
}
#container .intro .center .intro2_wrap .info_wrap .text {
  padding-bottom: 35px;
  font-size: 14px;
  line-height: 22px;
  color: #8b91a1;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line {
  display: flex;
  margin-bottom: 10px;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .info_box {
  background-color: #f7f7f7;
  padding: 15px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .info_box a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .info_box:first-child {
  margin-right: 10px;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib1, #container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib6 {
  width: 65%;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib2, #container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib5 {
  width: 35%;
}
#container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib3, #container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .ib4 {
  width: 50%;
}
#container .intro .center .intro3_wrap {
  width: 22%;
}
#container .intro .center .intro3_wrap .user_wrap {
  display: flex;
  padding: 30px 45px;
  border: 2px solid #c2c2c2;
  background-color: #f6f7fb;
  border-radius: 10px;
}
#container .intro .center .intro3_wrap .user_wrap .login, #container .intro .center .intro3_wrap .user_wrap .join, #container .intro .center .intro3_wrap .user_wrap .user_data, #container .intro .center .intro3_wrap .user_wrap .logout {
  margin: 0 auto;
  text-align: center;
}
#container .intro .center .intro3_wrap .user_wrap .login a, #container .intro .center .intro3_wrap .user_wrap .join a, #container .intro .center .intro3_wrap .user_wrap .user_data a, #container .intro .center .intro3_wrap .user_wrap .logout a {
  color: #000;
}
#container .intro .center .intro3_wrap .user_wrap .login a i, #container .intro .center .intro3_wrap .user_wrap .join a i, #container .intro .center .intro3_wrap .user_wrap .user_data a i, #container .intro .center .intro3_wrap .user_wrap .logout a i {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
}
#container .intro .center .intro3_wrap .user_wrap .login a span, #container .intro .center .intro3_wrap .user_wrap .join a span, #container .intro .center .intro3_wrap .user_wrap .user_data a span, #container .intro .center .intro3_wrap .user_wrap .logout a span {
  font-weight: 500;
}
#container .intro .center .intro3_wrap .main_notice_wrap {
  margin-top: 40px;
  padding-left: 20px;
}
#container .intro .center .intro3_wrap .main_notice_wrap .notice_title {
  padding: 30px 0;
  font-size: 24px;
}
#container .intro .center .intro3_wrap .main_notice_wrap .notice_title a {
  color: #000;
  margin-left: 8px;
}
#container .intro .center .intro3_wrap .main_notice_wrap .notice_title a i {
  font-size: 15px;
  position: relative;
  bottom: 4px;
}
#container .intro .center .intro3_wrap .main_notice_wrap .notice_list_wrap .notice_list {
  margin-bottom: 30px;
}
#container .intro .center .intro3_wrap .main_notice_wrap .notice_list_wrap .notice_list .title {
  margin-bottom: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
#container .intro .center .intro3_wrap .main_notice_wrap .notice_list_wrap .notice_list .title a {
  color: #000;
}
#container .intro .center .intro3_wrap .main_notice_wrap .notice_list_wrap .notice_list .title i {
  margin-left: 5px;
}
#container .intro .center .intro3_wrap .main_notice_wrap .notice_list_wrap .notice_list .date {
  color: #757575;
  font-size: 12px;
}
#container .intro .center .intro3_wrap .service_wrap {
  margin-top: 70px;
  padding-left: 20px;
}
#container .intro .center .intro3_wrap .service_wrap .service {
  margin-bottom: 20px;
}
#container .intro .center .intro3_wrap .service_wrap .service .title {
  margin-bottom: 14px;
  font-size: 24px;
}
#container .intro .center .intro3_wrap .service_wrap .service .title i {
  font-size: 20px;
  position: relative;
  bottom: 1px;
  margin-left: 5px;
}
#container .intro .center .intro3_wrap .service_wrap .service .date {
  font-size: 13px;
  color: #a3aab0;
}
#container .intro .center .intro3_wrap .service_wrap .tell .number {
  margin-bottom: 5px;
  font-size: 24px;
  margin-bottom: 14px;
}
#container .intro .center .intro3_wrap .service_wrap .tell .foreign {
  color: #656b83;
  font-size: 16px;
  font-weight: 500;
}
#container .card_area {
  display: flex;
  justify-content: center;
}
#container .card_area .center {
  width: 100%;
}
#container .card_area .center .title_box {
  text-align: center;
  padding: 40px 0;
}
#container .card_area .center .title_box .card_title {
  font-size: 15px;
  padding-bottom: 15px;
  color: #7369d1;
}
#container .card_area .center .title_box .card_sub_title {
  font-size: 25px;
}
#container .card_area .center .card_banner {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url(/img/card_banner.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .card_area .center .card_banner .banner_center {
  width: 63%;
}
#container .card_area .center .card_banner .banner_center .text_box .small_text {
  font-size: 15px;
  padding-bottom: 26px;
  font-weight: 500;
}
#container .card_area .center .card_banner .banner_center .text_box .big_text {
  font-size: 35px;
  padding-bottom: 45px;
  font-weight: 600;
}
#container .card_area .center .card_banner .banner_center .text_box .more {
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid #fff;
  color: #fff;
}
#container .card_area .center .prd_list_wrap {
  width: 63%;
  margin: 0 auto;
}
#container .card_area .center .prd_list_wrap .cw {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
#container .card_area .center .prd_list_wrap .cw .title {
  text-align: center;
  padding: 40px 0;
  font-size: 22px;
}
#container .card_area .center .prd_list_wrap .cw .view {
  width: 200%;
  display: flex;
  transition: all 0.5s;
  padding-bottom: 60px;
  border-bottom: 2px solid #ddd;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list {
  width: 31.333%;
  margin: 0 2%;
  position: relative;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list img {
  width: 300px;
  height: 200px;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .card_name {
  padding-top: 15px;
  font-size: 17px;
  font-weight: 500;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box {
  position: absolute;
  left: -2px;
  bottom: -5px;
  color: #fff;
  background-color: #3b3b3b;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.5s;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box .box_top {
  border-bottom: 2px solid #fff;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box .box_top > p {
  padding-bottom: 10px;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box .box_top > p:last-child {
  padding-bottom: 20px;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box .link_box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list .hover_box .link_box > a {
  display: block;
  padding: 10px 15px;
  color: #000;
  font-weight: 500;
  margin: 0 8px;
  background-color: #fff;
}
#container .card_area .center .prd_list_wrap .cw .view .prd_list:hover .hover_box {
  opacity: 1;
  transform: translateY(0px);
}
#container .card_area .center .prd_list_wrap .cw .card_btn_set > div {
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  font-size: 30px;
}
#container .card_area .center .prd_list_wrap .cw .card_btn_set > div a {
  color: #bbb;
}
#container .card_area .center .prd_list_wrap .cw .card_btn_set .prev_btn {
  left: 0;
}
#container .card_area .center .prd_list_wrap .cw .card_btn_set .next_btn {
  right: 0;
}
#container .card_area .center .prd_list_wrap .admin_btn {
  display: block;
  background-color: #786fcb;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
#container .card_detail {
  display: flex;
  justify-content: center;
}
#container .card_detail .center {
  width: 63%;
  display: flex;
}
#container .card_detail .center .card_detail_wrap {
  width: 80%;
}
#container .card_detail .center .card_detail_wrap .title_box {
  text-align: center;
}
#container .card_detail .center .card_detail_wrap .title_box .card_name {
  padding: 54px 0 18px;
  font-size: 32px;
}
#container .card_detail .center .card_detail_wrap .title_box .card_category {
  font-size: 15px;
  padding-bottom: 30px;
  color: #ddd;
}
#container .card_detail .center .card_detail_wrap .card_box {
  width: 90%;
  margin: 0 auto;
  background-color: #f1f4f9;
  border-radius: 10px;
}
#container .card_detail .center .card_detail_wrap .card_box .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0 80px;
  border-bottom: 1px solid #fcffff;
}
#container .card_detail .center .card_detail_wrap .card_box .wrap .left {
  position: relative;
}
#container .card_detail .center .card_detail_wrap .card_box .wrap .left .circle {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background-color: #cacfd7;
  margin-left: -15px;
}
#container .card_detail .center .card_detail_wrap .card_box .wrap .left img {
  transform: rotate(90deg);
}
#container .card_detail .center .card_detail_wrap .card_box .wrap .right {
  padding-left: 10%;
}
#container .card_detail .center .card_detail_wrap .card_box .wrap .right > p {
  font-size: 16px;
  padding-bottom: 26px;
}
#container .card_detail .center .card_detail_wrap .card_box .admin_btn_set {
  margin-left: 45px;
  display: flex;
}
#container .card_detail .center .card_detail_wrap .card_box .admin_btn_set > a {
  margin-right: 15px;
  display: block;
  padding: 10px 20px;
  background-color: #adb5c2;
  border-radius: 5px;
  color: #fff;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot {
  display: flex;
  align-items: center;
  line-height: 75px;
  padding-left: 48px;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .brand {
  display: flex;
  align-items: center;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .brand > p:nth-child(1) {
  margin-right: 19px;
  font-size: 13px;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .brand > p:nth-child(2) {
  margin-right: 25px;
  font-size: 15px;
  font-weight: 500;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .brand img {
  width: 100px;
  height: 45px;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .price {
  display: flex;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .price > p:nth-child(1) {
  margin: 0 25px 0 115px;
  font-size: 13px;
}
#container .card_detail .center .card_detail_wrap .card_box .box_bot .price > p:nth-child(2) {
  margin-right: 25px;
  font-size: 15px;
  font-weight: 500;
}
#container .card_detail .center .card_detail_wrap .card_notice {
  width: 90%;
  margin: 60px auto 0;
  border-radius: 20px;
}
#container .card_detail .center .card_detail_wrap .card_notice .title {
  font-size: 23px;
  padding-bottom: 21px;
}
#container .card_detail .center .card_detail_wrap .card_notice .card_notice_box {
  border: 2px solid #d6d6d6;
  border-radius: 20px;
  padding: 50px 45px;
  margin-bottom: 130px;
}
#container .card_detail .center .card_detail_wrap .card_notice .card_notice_box .sub_title {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 26px;
}
#container .card_detail .center .card_detail_wrap .card_notice .card_notice_box .text {
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 30px;
  text-indent: 11px;
}
#container .card_detail .center .right_box {
  position: sticky;
  top: 0;
  width: 16%;
  margin: 148px 1% 0;
  border: 1px solid #d6d6d6;
  height: 310px;
  border-radius: 10px;
}
#container .card_detail .center .right_box .box1 {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;
}
#container .card_detail .center .right_box .box1 p {
  padding: 30px 0;
  font-size: 15px;
}
#container .card_detail .center .right_box .box1 .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8a81df;
  color: #fff;
  text-align: center;
}
#container .card_detail .center .right_box .box1 .icon i {
  font-size: 12px;
}
#container .card_detail .center .right_box .box2 {
  padding: 0 20px;
  border-bottom: 1px solid #d6d6d6;
}
#container .card_detail .center .right_box .box2 > p {
  padding: 20px 0 15px;
  font-size: 15px;
}
#container .card_detail .center .right_box .box2 .wrap {
  display: flex;
  justify-content: space-between;
}
#container .card_detail .center .right_box .box2 .wrap p {
  padding-bottom: 22px;
  font-size: 13px;
}
#container .card_detail .center .right_box .box2 .wrap .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8a81df;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 4px;
}
#container .card_detail .center .right_box .box2 .wrap .icon i {
  font-size: 12px;
}
#container .card_detail .center .right_box .box3 .top {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 17px 0 25px;
}
#container .card_detail .center .right_box .box3 .top .icon_box {
  margin: 0 5px;
}
#container .card_detail .center .right_box .box3 .top .icon_box i {
  margin-bottom: 5px;
  font-size: 20px;
}
#container .card_detail .center .right_box .box3 .top .icon_box p {
  font-size: 15px;
}
#container .card_detail .center .right_box .box3 .top .icon_box p span {
  color: red;
}
#container .card_detail .center .right_box .box3 .go_card {
  display: flex;
  justify-content: center;
}
#container .card_detail .center .right_box .box3 .go_card > a {
  display: inline-block;
  text-align: center;
  padding: 12px 20px;
  background-color: #8a81df;
  border-radius: 5px;
  color: #fff;
}
#container .store_list .title {
  text-align: center;
  padding: 125px 0 48px;
  font-size: 22px;
}
#container .store_list .store_banner {
  width: 100%;
  height: 410px;
  background-image: url(/img/test.jpg);
  position: relative;
}
#container .store_list .store_banner .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 21, 116, 0.2);
}
#container .store_list .store_banner .text_box_top {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#container .store_list .store_banner .text_box_top p {
  text-align: center;
}
#container .store_list .store_banner .text_box_top p:nth-child(1) {
  font-size: 38px;
  padding-bottom: 27px;
  color: #fff;
  font-weight: 600;
  position: relative;
}
#container .store_list .store_banner .text_box_top p:nth-child(1)::before {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 5%;
  height: 2px;
  background-color: #fff;
}
#container .store_list .store_banner .text_box_top p:nth-child(2) {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
#container .store_list .center {
  width: 63%;
  margin: 0 auto;
}
#container .store_list .center .text_box_bot {
  text-align: center;
}
#container .store_list .center .text_box_bot .list_title {
  padding: 160px 0 30px;
  font-size: 32px;
  position: relative;
}
#container .store_list .center .text_box_bot .list_title::before {
  position: absolute;
  left: 50%;
  top: 125px;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 4%;
  height: 2px;
  background-color: #000;
}
#container .store_list .center .text_box_bot .text {
  font-size: 17px;
  line-height: 23px;
  padding-bottom: 70px;
  color: #7f7f7f;
}
#container .store_list .center .store_list_wrap {
  display: flex;
  padding-bottom: 80px;
  flex-wrap: wrap;
}
#container .store_list .center .store_list_wrap .list_box {
  width: 29.333%;
  margin: 0 2% 4%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 10px;
}
#container .store_list .center .store_list_wrap .list_box .store_file {
  width: 100%;
  height: 230px;
}
#container .store_list .center .store_list_wrap .list_box .store_name {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
}
#container .store_list .center .store_list_wrap .list_box .store_info p {
  font-size: 15px;
  padding-bottom: 8px;
  color: #6d6d6d;
}
#container .store_list .center .store_list_wrap .list_box .go_map {
  display: inline-block;
  color: #fff;
  padding: 8px 12px;
  background-color: #8a81df;
  border-radius: 5px;
  margin: 22px 0 10px;
  font-size: 15px;
}
#container .store_list .go_store {
  display: block;
  color: #fff;
  margin-bottom: 120px;
  text-align: center;
  padding: 20px;
  background-color: #7369d1;
}
#container .notice_wrap {
  display: flex;
  justify-content: center;
  width: 73%;
  margin: 0 auto;
}
#container .notice_wrap .left {
  width: 18%;
  margin: 2%;
  position: sticky;
  top: 0;
}
#container .notice_wrap .left .otp_box {
  background-color: #f2f2f2;
  border-radius: 15px;
  border: 1px solid #c2c2c2;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
#container .notice_wrap .left .otp_box p {
  font-size: 13px;
  line-height: 22px;
  padding: 30px 25px;
}
#container .notice_wrap .left .otp_box a {
  display: block;
  background-color: #685bdf;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 12px;
}
#container .notice_wrap .left .otp_box img {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 18px;
  top: 63px;
}
#container .notice_wrap .left .notice_tab .tab_menu {
  display: flex;
  background-color: #f8f8f8;
  border-radius: 15px 15px 0 0;
}
#container .notice_wrap .left .notice_tab .tab_menu li {
  line-height: 50px;
  width: 50%;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid #c2c2c2;
}
#container .notice_wrap .left .notice_tab .tab_menu li a {
  color: #000;
}
#container .notice_wrap .left .notice_tab .tab_menu li.on {
  font-weight: 400;
  border: 1px solid #c2c2c2;
  border-radius: 15px 15px 0 0;
  border-bottom: none;
  background-color: #fff;
}
#container .notice_wrap .left .notice_tab .tab_list_wrap {
  padding: 17px 25px;
  border: 1px solid #c2c2c2;
  border-top: none;
  box-sizing: border-box;
  border-radius: 0 0 15px 15px;
  margin-bottom: 16px;
}
#container .notice_wrap .left .notice_tab .tab_list_wrap li {
  font-size: 15px;
  line-height: 40px;
}
#container .notice_wrap .left .notice_tab .tab_list_wrap li a {
  color: #000;
}
#container .notice_wrap .left .notice_tab .tab_list_wrap li.on {
  font-weight: 500;
}
#container .notice_wrap .left .security {
  border: 1px solid #c2c2c2;
  text-align: center;
  line-height: 55px;
  border-radius: 15px;
  font-size: 14px;
}
#container .notice_wrap .left .security i {
  color: #7369d1;
  margin-right: 5px;
}
#container .notice_wrap .left .security a {
  color: #000;
  font-weight: 500;
}
#container .notice_wrap .right {
  width: 80%;
  display: flex;
  justify-content: center;
}
#container .notice_wrap .right .center {
  width: 100%;
}
#container .notice_wrap .right .center > .title {
  text-align: center;
  padding: 95px 0 42px;
}
#container .notice_wrap .right .center .wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 14px;
}
#container .notice_wrap .right .center .wrap .sear_wrap {
  position: relative;
}
#container .notice_wrap .right .center .wrap .sear_wrap #n_category {
  width: 100px;
  height: 40px;
  padding: 0 12px;
  border-radius: 5px;
  border-color: #c2c2c2;
}
#container .notice_wrap .right .center .wrap .sear_wrap .search {
  width: 320px;
  height: 40px;
  padding-left: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
}
#container .notice_wrap .right .center .wrap .sear_wrap .sear_btn {
  border: none;
  background-color: #fff;
  font-size: 23px;
  position: absolute;
  right: 10px;
  top: 7px;
}
#container .notice_wrap .right .center .notice_list_wrap .h_line {
  display: flex;
  font-weight: 500;
  line-height: 55px;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #e7e7e7;
}
#container .notice_wrap .right .center .notice_list_wrap .h_line .no {
  width: 10%;
}
#container .notice_wrap .right .center .notice_list_wrap .h_line .title {
  width: 60%;
}
#container .notice_wrap .right .center .notice_list_wrap .h_line .date {
  width: 20%;
}
#container .notice_wrap .right .center .notice_list_wrap .h_line .review {
  width: 10%;
}
#container .notice_wrap .right .center .notice_list_wrap .notice_list {
  display: flex;
  line-height: 55px;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
}
#container .notice_wrap .right .center .notice_list_wrap .notice_list .notice_no {
  width: 10%;
}
#container .notice_wrap .right .center .notice_list_wrap .notice_list .notice_title {
  width: 60%;
  text-align: left;
  padding-left: 12px;
}
#container .notice_wrap .right .center .notice_list_wrap .notice_list .notice_title a {
  color: #000;
}
#container .notice_wrap .right .center .notice_list_wrap .notice_list .notice_date {
  width: 20%;
}
#container .notice_wrap .right .center .notice_list_wrap .notice_list .notice_review {
  width: 10%;
}
#container .notice_wrap .right .center .go_notice {
  display: block;
  width: 30%;
  background-color: #c689e1;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 20px 0;
}
#container .notice_wrap .right .center .notice_info .title {
  padding: 80px 0 15px;
  font-size: 17px;
}
#container .notice_wrap .right .center .notice_info .box {
  border-top: 1px solid #e6e6e6;
  background-color: #f8f8f8;
  padding: 35px;
  box-sizing: border-box;
  font-size: 14px;
  color: #8e999b;
}
#container .notice_wrap .right .center .notice_info .box p:nth-child(1) {
  margin-bottom: 14px;
}
#container .detail_page > .title {
  text-align: center;
  padding: 95px 0 42px;
}
#container .detail_page .notice_detail {
  width: 80%;
}
#container .detail_page .notice_detail .center .nt_dt_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
#container .detail_page .notice_detail .center .nt_dt_top > .title {
  font-size: 18px;
}
#container .detail_page .notice_detail .center .nt_dt_top .info {
  display: flex;
  font-size: 13px;
  color: #858a90;
}
#container .detail_page .notice_detail .center .nt_dt_top .info .date {
  margin-right: 20px;
}
#container .detail_page .notice_detail .center .notice_big_box > .title {
  text-align: center;
  font-size: 19px;
  padding: 80px 0 45px;
  color: #5c5a5b;
  font-weight: 600;
}
#container .detail_page .notice_detail .center .notice_big_box .context {
  font-size: 15px;
  line-height: 24px;
  color: #505050;
  padding: 0 35px 70px;
  border-bottom: 1px solid #d9d9d9;
  white-space: pre;
}
#container .detail_page .notice_detail .center .list_btn {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  font-weight: 500;
  line-height: 55px;
  width: 200px;
  color: #fff;
  text-align: center;
  background-color: #f4bbff;
  border-radius: 5px;
}
#container .detail_page .notice_detail .center .admin_btn_set {
  margin: 0 auto;
  display: flex;
}
#container .detail_page .notice_detail .center .admin_btn_set > a {
  display: block;
  text-align: center;
  width: 50%;
}
#container .detail_page .notice_detail .center .admin_btn_set > a:nth-child(1) {
  background-color: #aaa;
}
#container .detail_page .notice_detail .center .admin_btn_set > a:nth-child(2) {
  background-color: #bbb;
}
#container .qna_list_wrap {
  display: flex;
  justify-content: center;
}
#container .qna_list_wrap .center {
  width: 53%;
  background-color: #dedbff;
}
#container .qna_list_wrap .center .qna_title {
  padding: 50px 0 40px;
  font-size: 28px;
}
#container .qna_list_wrap .center .user_qna_wrap {
  border-top: 2px solid red;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line {
  border-bottom: 1px solid red;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .user_qna_top {
  display: flex;
  justify-content: space-between;
  line-height: 55px;
  align-items: center;
  cursor: pointer;
  background-color: coral;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .user_qna_top .wrap {
  display: flex;
  width: 100%;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .user_qna_top .wrap .q {
  width: 5%;
  text-align: center;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .user_qna_top .wrap .user_qna_title {
  width: 95%;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .user_qna_top .icon {
  padding-right: 20px;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .mb_wrap {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .mb_wrap .user_qna_context {
  padding: 35px;
  white-space: pre;
  background-color: skyblue;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .mb_wrap .user_qna_bot {
  background-color: palegoldenrod;
  display: flex;
  justify-content: flex-end;
  line-height: 35px;
  font-size: 13px;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .mb_wrap .user_qna_bot > p {
  margin-left: 12px;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .mb_wrap .answer_wrap .wrap {
  display: flex;
  padding: 20px 0;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .mb_wrap .answer_wrap .wrap .a {
  width: 5%;
  text-align: center;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .mb_wrap .answer_wrap .wrap .answet_text {
  width: 95%;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .mb_wrap .answer_wrap #admin_answer_form textarea {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  line-height: 24px;
}
#container .qna_list_wrap .center .user_qna_wrap .user_qna_line .mb_wrap .answer_wrap #admin_answer_form .answer_btn {
  margin: 5px 0 10px;
  border: none;
  padding: 8px;
  background-color: #7369d1;
  border-radius: 5px;
  font-size: 12px;
}

#login {
  display: flex;
  justify-content: center;
  background-color: #efefef;
}
#login .center {
  width: 57%;
}
#login .center .login_title {
  padding: 80px 0 90px;
  font-size: 28px;
  text-align: center;
}
#login .center .title_wrap {
  display: flex;
}
#login .center .title_wrap strong {
  font-size: 18px;
  display: block;
}
#login .center .title_wrap .info {
  margin-left: 23px;
  font-size: 12px;
  color: #000;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid #000;
}
#login .center .title_wrap .info i {
  font-size: 10px;
  position: relative;
  bottom: 1px;
  margin-left: 2px;
}
#login .center .text {
  padding: 22px 0 30px;
  font-size: 15px;
  line-height: 25px;
  color: #7e828b;
}
#login .center .login_wrap {
  display: flex;
  justify-content: space-between;
  padding: 45px 48px 40px;
  background-color: #fff;
  margin-bottom: 120px;
}
#login .center .login_wrap .left {
  width: 35%;
}
#login .center .login_wrap .left .b_text {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 600;
}
#login .center .login_wrap .left .auth_box a {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #d065eb;
  padding: 20px 45px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
}
#login .center .login_wrap .left .auth_box a:first-child {
  margin-bottom: 5px;
}
#login .center .login_wrap .left .auth_box a .material-symbols-outlined {
  margin-right: 5px;
}
#login .center .login_wrap .right {
  position: relative;
  width: 55%;
}
#login .center .login_wrap .right img {
  position: absolute;
  right: 0;
  bottom: 194px;
}
#login .center .login_wrap .right .b_text {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 600;
}
#login .center .login_wrap .right #login_form .wrap {
  display: flex;
}
#login .center .login_wrap .right #login_form .wrap input {
  line-height: 50px;
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  width: 50%;
  height: 50px;
  padding-left: 17px;
  border-radius: 5px;
  margin-bottom: 7px;
}
#login .center .login_wrap .right #login_form .wrap input:first-child {
  margin-right: 10px;
}
#login .center .login_wrap .right #login_form .wrap input::placeholder {
  font-size: 13px;
}
#login .center .login_wrap .right #login_form .login_btn {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 15px;
}

#footer .f_top {
  display: flex;
  justify-content: center;
  border-top: 2px solid #c2c2c2;
  border-bottom: 1px solid #e6e6e6;
}
#footer .f_top .center {
  width: 73%;
  display: flex;
  justify-content: space-between;
}
#footer .f_top .center > div {
  display: flex;
  align-items: center;
  font-size: 14px;
}
#footer .f_top .center .left .service {
  margin-right: 40px;
  font-weight: 600;
  line-height: 72px;
}
#footer .f_top .center .left .info {
  color: #969696;
}
#footer .f_top .center .right {
  font-weight: 600;
}
#footer .f_top .center .right .in_tell, #footer .f_top .center .right .ex_tell {
  margin-right: 24px;
}
#footer .f_top .center .right .in_tell_num {
  margin-right: 42px;
}
#footer .f_bot {
  display: flex;
  justify-content: center;
}
#footer .f_bot .center {
  width: 73%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .f_bot .center .left .f_menu {
  display: flex;
  padding: 23px 0 17px;
  font-size: 14px;
}
#footer .f_bot .center .left .f_menu li a {
  color: #000;
  margin-right: 18px;
}
#footer .f_bot .center .left .f_menu .bold {
  font-weight: 500;
}
#footer .f_bot .center .left .copy {
  font-size: 12px;
  color: #8b9094;
  padding-bottom: 35px;
}
#footer .f_bot .center .right button {
  margin-right: 25px;
  border: none;
  background-color: #fff;
  padding: 0 7px 5px;
  border-bottom: 1px solid #888;
  cursor: pointer;
}
#footer .f_bot .center .right button i {
  margin-left: 15px;
}
#footer .f_bot .center .right img {
  width: 60px;
  height: 35px;
}

#join #join_form .input_wrap {
  position: relative;
  padding-bottom: 50px;
  background-color: skyblue;
}
#join #join_form .input_wrap .msg_box {
  position: absolute;
  left: 0;
  top: 25px;
}

.help {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #7e7e7e;
  text-align: center;
  border-radius: 10px;
}
.help > div {
  padding: 20px;
}
.help > div a {
  color: #000;
}
.help > div a img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.help > div a p {
  font-size: 14px;
  font-weight: 500;
}
.help .ai {
  border-bottom: 2px solid #7e7e7e;
}

@media screen and (max-width: 1200px) {
  #container .intro .center {
    width: 90%;
    flex-direction: column;
  }
  #container .intro .center .slide_wrap {
    width: 100%;
    margin-right: 0;
    margin-bottom: 80px;
  }
  #container .intro .center .slide_wrap .view .slide_box .bg_img {
    right: 36px;
    top: 5px;
  }
  #container .intro .center .slide_wrap .view .slide_box .bg_img img {
    width: 600px;
    height: 415px;
  }
  #container .intro .center .slide_wrap .view .slide_box .text_box .hash {
    font-size: 20px;
  }
  #container .intro .center .slide_wrap .view .slide_box .text_box .slide_title {
    line-height: 55px;
    font-size: 40px;
  }
  #container .intro .center .slide_wrap .view .slide_box .text_box .text {
    line-height: 27px;
    font-size: 17px;
  }
  #container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .prd_title {
    font-size: 24px;
    line-height: 30px;
  }
  #container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .text {
    line-height: 22px;
    font-size: 15px;
  }
  #container .intro .center .slide_wrap .view .slide_box .prd_box_wrap .prd_box > a .tag {
    right: 56px;
    padding: 15px 30px;
  }
  #container .intro .center .slide_wrap .slide_btn_set > div a i {
    font-size: 24px;
  }
  #container .intro .center .intro2_wrap {
    width: 100%;
    margin-right: 0;
    display: flex;
  }
  #container .intro .center .intro2_wrap .tab_wrap {
    width: 50%;
    margin-right: 2%;
  }
  #container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list {
    padding-bottom: 0;
  }
  #container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list .tab_list {
    width: 50%;
    padding: 40px 0;
  }
  #container .intro .center .intro2_wrap .tab_wrap .tab_list_wrap .list .tab_list a .tab_img {
    width: 70px;
    height: 70px;
  }
  #container .intro .center .intro2_wrap .info_wrap {
    width: 50%;
    margin-top: 0;
  }
  #container .intro .center .intro2_wrap .info_wrap .text {
    font-size: 17px;
    line-height: 25px;
  }
  #container .intro .center .intro2_wrap .info_wrap .info_box_wrap .line .info_box {
    padding: 20px 10px;
  }
  #container .intro .center .intro3_wrap {
    width: 100%;
    display: flex;
    margin-top: 100px;
  }
  #container .intro .center .intro3_wrap .user_wrap {
    display: none;
  }
  #container .intro .center .intro3_wrap .main_notice_wrap {
    margin: 0 100px 0 0;
  }
  #container .intro .center .intro3_wrap .main_notice_wrap .notice_title {
    font-size: 28px;
    padding-top: 0;
  }
  #container .intro .center .intro3_wrap .main_notice_wrap .notice_title a i {
    font-size: 17px;
    bottom: 5px;
  }
  #container .intro .center .intro3_wrap .main_notice_wrap .notice_list_wrap .notice_list .title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  #container .intro .center .intro3_wrap .main_notice_wrap .notice_list_wrap .notice_list .date {
    font-size: 15px;
  }
  #container .intro .center .intro3_wrap .service_wrap {
    margin-top: 0;
  }
  #container .intro .center .intro3_wrap .service_wrap .service {
    margin-bottom: 30px;
  }
  #container .intro .center .intro3_wrap .service_wrap .service .title {
    margin-bottom: 18px;
    font-size: 28px;
  }
  #container .intro .center .intro3_wrap .service_wrap .service .date {
    font-size: 15px;
  }
  #container .intro .center .intro3_wrap .service_wrap .tell .number {
    font-size: 28px;
    margin-bottom: 18px;
  }
  #footer .f_top .center {
    width: 80%;
  }
  #footer .f_bot .center {
    width: 80%;
  }
  .help {
    display: none;
  }
  #login .center {
    width: 90%;
  }
}