<div class="left">
    <p class="text">고객센터</p>
    <ul class="l_menu">
        <li><a href="#">고객센터메인</a></li>
        <li><a href="#">고객상담</a></li>
        <li><a href="#">영업점</a></li>
        <li><a href="#">원큐 금융 상담 서비스</a></li>
        <li><a href="#">서식/약관/설명서 자료실</a></li>
        <li><a href="#">상품자료실&공시실</a></li>
        <li><a href="#">새소식/이벤트</a></li>
        <li><a href="#">손님의소리(칭찬/불만/제안 등)</a></li>
        <li><a href="#">하나소비자세상</a></li>
        <li><a href="#">손님우대서비스</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">이용안내</a></li>
    </ul>
    <div class="service_tell">
        <div class="top"><img src="/img/support.png" alt=""><span>고객센터</span></div>
        <div class="tell_num">1588-1728<br>1599-7289</div>
    </div>
</div>