<div id="footer">
    <div class="f_top">
        <div class="center">
            <div class="left">
                <p class="service">고객센터</p>
                <p class="info">평일 9:00 ~ 18:00(휴무일 제외) / 사고신고 24시간 연중무휴 접수</p>
            </div>
            <div class="right">
                <p class="in_tell">국내</p>
                <p class="in_tell_num">1599-9000 / 1588-8801</p>
                <p class="ex_tell">국외</p>
                <p class="ex_tell_num">+82-2-2192-0200</p>
            </div>
        </div>
    </div>
    <div class="f_bot">
        <div class="center">
            <div class="left">
                <ul class="f_menu">
                    <li><a href="#">새마을금고 안내</a></li>
                    <li><a href="#">새마을금고 찾기</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li class="bold"><a href="#">개인정보처리방침</a></li>
                    <li class="bold"><a href="#">신용정보활용체제</a></li>
                </ul>
                <div class="copy">ⓒMG새마을금고.ALL rights reserved.</div>
            </div>
            <div class="right">
                <button type="menu">패밀리사이트<i class="fa-solid fa-angle-down"></i></button>
                <img src="/img/f_mark.jpg" alt="">
            </div>
        </div>
    </div>
</div>