<div id="footer">
    <div class="f_top">
        <div class="center">
            <div class="left">
                <p class="service">고객센터</p>
                <p class="info">평일 9:00 ~ 18:00(휴무일 제외) / 사고신고 24시간 연중무휴 접수</p>
            </div>
            <div class="right">
                <p class="in_tell">국내</p>
                <p class="in_tell">1599-9000 / 1588-8801</p>
                <p class="ex_tell">국외</p>
                <p class="ex_tell">+82-2-2192-0200</p>
            </div>
        </div>
    </div>
    <div class="f_bot">
        <div class="center">
            <div class="left">
                <ul>
                    <li>새마을금고 안내</li>
                    <li>새마을금고 찾기</li>
                    <li>이용약관</li>
                    <li>개인정보처리방침</li>
                    <li>신용정보활용체제</li>
                </ul>
            </div>
            <div class="right"></div>
        </div>
    </div>
</div>