<div class="help">
    <div class="ai">
        <a href="#">
            <img src="/img/chatbot.png" alt="">
            <p>챗봇</p>
        </a>
    </div>
    <div class="go_top">
        <a href="#">
            <img src="/img/hint.png" alt="">
            <p>도움말</p>
        </a>
    </div>
</div>