<div class="help">
    <div class="ai">
        <a href="#">
            <i class="fa-solid fa-robot"></i>
            <p>챗봇</p>
        </a>
    </div>
    <div class="go_top">
        <a href="#">
            <i class="fa-solid fa-up-long"></i>
            <p>맨위로</p>
        </a>
    </div>
</div>