<div class="left">
    <div class="otp_box">
        <p>고객님<br>소중한 정보를 위해<br>OTP설정하러 가요</p>
        <a href="#">OTP 설정하러 가기</a>
        <img src="/img/otp.png" alt="">
    </div>
    <div class="notice_tab">
        <ul class="tab_menu">
            <li class="on"><a href="#">이용안내</a></li>
            <li><a href="#">맞춤메뉴</a></li>
        </ul>
        <ul class="tab_list_wrap">
            <li class="list on"><a href="/notice">공지사항</a></li>
            <li class="list"><a href="/notice">서비스종합안내</a></li>
            <li class="list"><a href="/notice">이용약관</a></li>
            <li class="list"><a href="/notice">이용시간</a></li>
            <li class="list"><a href="/notice">이용한도</a></li>
            <li class="list"><a href="/notice">OTP서비스 안내</a></li>
            <li class="list"><a href="/notice">보안프로그램설치</a></li>
        </ul>
    </div>
    <div class="security">
        <i class="fa-solid fa-shield"></i>
        <a href="#">인증보안센터 바로 가기</a>
    </div>
</div>